* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 77);
  background: linear-gradient(333deg, rgb(0, 0, 77) 11%, rgb(0, 135, 193) 87%);
  background-repeat: no-repeat;
  height: 100%;
  color: #fff;
}

h1 {
  font-size: 3rem;
}

.whatsappButton {
  position: fixed;
  right: 0;
  bottom: 0;
}
.whatsappButton .whatsappImg {
  border-radius: 15px;
  cursor: pointer;
  margin: 1rem;
}

.headline {
  max-width: 100vw;
  margin: 3rem;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.payments {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 1rem 0 0 0;
}
.payments img {
  margin-top: 1rem;
}

@media (max-width: 790px) {
  .payments {
    align-items: center;
    flex-direction: column;
  }
}
.offerButton {
  padding: 1rem;
  border: 1px rgb(3, 146, 207);
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(255, 166, 0);
  box-shadow: 0px 0px 25px 1px rgb(255, 166, 0);
  color: #fff;
  font-weight: 700;
}

.offerButton:hover {
  padding: 1rem 3rem 1rem 3rem;
  background-color: rgb(255, 166, 0);
  box-shadow: 0px 0px 55px 1px rgb(255, 166, 0);
  font-weight: 900;
  transition: all 250ms;
}

.offerButton:not(:hover) {
  transition: all 250ms;
}

.emphasis {
  color: rgb(78, 198, 250);
}

.headerContainer {
  width: 100%;
  background-color: rgb(241, 241, 241);
  padding: 1rem;
  color: #000;
}

.header {
  max-width: 100vw;
  margin: 3rem;
  margin-top: 30vh;
  display: flex;
  justify-content: space-between;
}
.header h1 {
  font-size: 3rem;
}
.header .headerImages {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header .headerImages img {
  margin: 1rem;
  margin-right: 3rem;
}

@media (max-width: 1200px) {
  .header {
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 660px) {
  .headerImages img {
    width: 350px;
  }
  .headline h1 {
    font-size: 1.5rem;
  }
}
.cardsContainer, .benefits {
  max-width: 60vw;
  margin: auto;
  text-align: center;
  margin-top: 35rem;
}
.cardsContainer button, .benefits button {
  margin: 1rem;
}
.cardsContainer h2, .benefits h2 {
  color: #d3d1d1;
}
.cardsContainer .cards, .benefits .cards {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  text-align: left;
}
.cardsContainer .cards .card, .benefits .cards .card {
  background-color: rgb(0, 0, 77);
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  max-width: 30rem;
  box-shadow: 1px 2px 10px 1px #000;
}
.cardsContainer .cards .card h4, .benefits .cards .card h4 {
  color: #d3d1d1;
}
.cardsContainer .cards .card:hover, .benefits .cards .card:hover {
  transition: all 250ms;
  background-color: rgb(1, 1, 95);
}
.cardsContainer .cards .card:not(:hover), .benefits .cards .card:not(:hover) {
  transition: all 250ms;
}
@media (max-width: 1960px) {
  .cardsContainer .cards, .benefits .cards {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 700px) {
  .cardsContainer .cards, .benefits .cards {
    grid-template-columns: auto;
  }
}

.valuesContainer {
  max-width: 50vw;
  margin: auto;
  text-align: center;
  margin-top: 35rem;
}
.valuesContainer .values {
  display: flex;
  align-items: center;
}
.valuesContainer .leftValues {
  text-align: right;
}
.valuesContainer .rightValues {
  text-align: left;
}
.valuesContainer .midValues {
  background-color: rgb(0, 0, 59);
  padding: 0 5rem 0 5rem;
  border-radius: 10px;
}
.valuesContainer .midValues h2:first-of-type {
  text-decoration: line-through;
  color: #d3d1d1;
}
.valuesContainer .midValues .payments {
  flex-direction: column;
}
.valuesContainer .leftValues, .valuesContainer .rightValues {
  margin: 1rem;
}
@media (max-width: 125rem) {
  .valuesContainer .values {
    flex-direction: column;
    text-align: center;
  }
  .valuesContainer .leftValues {
    text-align: center;
  }
  .valuesContainer .rightValues {
    text-align: center;
  }
}
@media (max-width: 515px) {
  .valuesContainer .midValues {
    padding: 0 2rem 0 2rem;
  }
}

.faqContainer {
  margin-top: 40rem;
  text-align: center;
  padding: 1rem;
}
.faqContainer .faqs {
  text-align: left;
  max-width: 50vw;
  margin: auto;
  padding: 0.5rem;
}
.faqContainer .faqs h3 {
  cursor: pointer;
}
.faqContainer .faqs h4 {
  color: #969696;
}
.faqContainer .faq {
  margin: 3rem;
}
.faqContainer .faqResp {
  display: none;
}

.footerContainer {
  margin-top: 10rem;
}

.footer {
  padding: 1rem;
  text-align: center;
}/*# sourceMappingURL=style.css.map */